/* ----- RESET CSS ----- */
* ::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- GENERAL CSS ----------------------------------------------------------------------------------- */
:root {
    --black-1: #000000;
    --primary-1 : #0065FC;
    --primary-2: #DEEBFF;
    --grey-1: #f2f2f2;
    --grey-2: #d9d9d9;

    --border-radius: 20px;

    --box-shadow:  1.5px 1.5px 5px 2px rgba(140, 140, 140, 0.3);
}

html, body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    width: 98%;
    height: 100vh;
    margin: 0 auto;
}

/* ----- HEADER ---------------------------------------------------------------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-reservia {
    width: 62px;
    height: 20px;
    padding: 2rem 0;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    color: var(--black-1);
    padding: 2rem;
    transition: border-top 0.15s ease;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-1);
    border-top: 3px solid var(--primary-1);
    font-weight: 500;
}

.nav-link[data-active=true] {
    color: var(--primary-1);
    border-top: 3px solid var(--primary-1);
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .navbar-header {
        width: 100%;
        justify-content: space-around;
        text-align: center ;
    }

    .nav-link {
        width: 100%;
        padding: 1.5rem;
    }

    .nav-link:hover {
        border-top: none;
        border-bottom: 3px solid var(--primary-1);
    }

    .nav-link[data-active=true] {
        border-top: none;
        border-bottom: 3px solid var(--primary-1);
    }
}

        
/* ----- SEARCH SECTION AND FILTER------------------------------------------------------------------- */

.container-title {
    padding: 1.75rem 0;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto 8px;
}

.title-infos {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .container-title {
        padding: 1.5rem 0;
    }   
}

/* -------------------------------- */ 

.search-form {
    width: 100%;
    display: inline-flex;
    
}

.search-icon {
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--grey-1);
}

.search-input {
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black-1);
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--grey-1);
    border-bottom: 1px solid var(--grey-1);
}

.search-btn {
    cursor: pointer;
    color: white;
    background-color: var(--primary-1);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1.5rem;
    border-radius: 0 1rem 1rem 0;
}

.search-btn:hover {
    opacity: 0.8;
}

.search-btn-span {
    font-size: 18px;
}

.search-btn-icon {
    display: none !important;
}


@media screen and (max-width: 768px) {
    .search-form {
        width: 332px;
        padding: 0;
    } 
    .search-input {
        width: 85%;
    }
    
    .search-btn span {
        display: none !important;
    }
    
    .search-btn-icon {
        display: block !important;
    }
}

/* -------------------------------- */

.container-filters-title {
    padding: 1.25rem 0 1rem;
    display: flex;
}

.container-filters {
    display: flex;
    flex-wrap: wrap;
}

.filters-title {
    font-weight: bold;
    margin-right: 1.7rem;
}

.filter {
    display: inline-flex;
    margin: 0.5rem 1.7rem 0.5rem 0;
}

.filter:hover {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

.filter-content {
    display: flex;
    align-items: center;
    position: relative;
}

.filter-icon {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-2);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.filter-icon-i {
    color: var(--primary-1);
}

.filter-text {
    font-weight: bold;
    margin-left: 2rem;
    padding: 1rem 2rem;  
    border: 2px solid var(--grey-2);
    border-radius: 0 25px 25px 0;
    border-left: none;
}


@media screen and (max-width: 768px) {
    .container-filters-title {
        flex-direction: column;
    }  
    
    .filter {
        width: 160px;
    }

    .filter-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 2px solid var(--grey-2);
        border-radius: 25px;
    }

    .filter-icon {
    margin-left: 20px;
    position: relative;
    background-color: none;
    width: 0;
    height: 0;
    border-radius: 0;
    }
    
    .filters-title {
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .filter-text {
        font-size: 11px;
        padding: 1rem;
        margin-left: 0;
        border: none;
        width: 100%;
    }
}

/* ----------------------------------- */

.container-infos {
    margin: 0;
    display: flex;
    align-items: center;
}

.infos-wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    margin-right: 10px;
    border: 1px solid var(--grey-2);
    border-radius: 50%;
}

.infos-icon {
    color: var(--primary-1);
}

.infos-text {
    font-weight: 400;
}

/* ------- HOSTELS SECTION -------- */

.hostels {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

/* -------------MARSEILLE HOSTELS-------------- */

.marseille-hostels {
    position: relative;
    width: 880px;
    height: 625px;
    background-color: var(--grey-1);
    border-radius: var(--border-radius);
}

.marseille-hostels h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 10px 40px ;
}

.container-cards-marseille {
    height: 428px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-marseille {
    width: 238px;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.25rem;
    background-color: white;
    margin: 15px;
    box-shadow: var(--box-shadow); 
    cursor: pointer;
}

.card-marseille:hover {
    transition: transform 0.15s linear;
    transform: scale(1.05);
}

.container-card-marseille-img {
    width: 100%;
    height: 124px;
}

.container-card-marseille-img img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}

.container-marseille-infos {
    width: 100%;
    height: 75px;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-marseille-infos h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
}

.container-marseille-infos p {
    font-size: 14px;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.show-more {
    font-weight: bold;
    font-size: 18px;
    margin: 60px 0 0 40px;
    cursor: pointer;
}


/* ----------POPULAR HOSTELS------------ */

.popular-hostels {
    margin-left: 40px;
    width: 420px;
    height: 625px;
    background-color: var(--grey-1);
    border-radius: var(--border-radius);
}

.container-title-popular {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;   
}

.container-title-popular h2 {
    margin-left: 37px !important;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.container-title-popular i {
    margin-right: 42px;
    font-size: 1.1rem;
    color: var(--primary-1);
}

.container-cards-popular {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 35px;
    height:auto;
}

.card-popular {
    width: 336px;
    height: 138px;
    display: flex;
    border-radius: var(--border-radius);
    background-color: white;
    margin: 1rem 0;
    padding: 0.25rem;
    box-shadow: var(--box-shadow); 
    cursor: pointer; 
}

.card-popular:hover {
    transition: transform 0.15s linear;
    transform: scale(1.05);
}

.card-popular-img {
    width: 144px;
    height: 100%;
}

.card-popular-img img {
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
}

.container-popular-infos {
    width: 206px;
    margin-left: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-popular-infos h4 {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container-popular-infos p {
    margin:4px 0 40px 0;
    font-size: 14px;
    font-weight: 600;
}

.container-stars {
    width: 68px;
    height: 12px;
    display: flex;
    justify-content: space-between;
}

.container-stars i {
    font-size: 0.75rem;
    color: var(--grey-2);
    
}

.container-stars i[data-active=true] {
    color: var(--primary-1);
}

@media screen and (max-width: 1350px) {
    html, body {
        width: 95%;
    }
    .hostels {
        flex-direction: column;
    }
    .popular-hostels {
        width: 100%;
        height: 278px;
        margin: 50px auto 0;
    }
    .container-cards-popular {
        flex-direction: row;
        justify-content: space-between;
    }
    .card-popular {
        width: 30%;
        height: 140px;
        margin: 10px;
    }
    .card-popular-img {
        width: 40%;
        height: 100%;
    }
    .container-popular-infos {
        width: 60%;
        margin-left: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-popular-infos h4 {
        font-size: 14px;
    }
    .container-popular-infos p {
        font-size: 13px;
        margin-bottom: 60px;
    }

    .marseille-hostels {
        width: 100%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1024px) {
    .popular-hostels {
        width: 100%;
    }
    .marseille-hostels {
        width: 100%;
    }
}


@media screen and (max-width: 992px) {
    .marseille-hostels {
        width: 100%;
        height: 625px;
    }
    
    .marseille-hostels h2 {
        font-size: 22px;
        font-weight: 700;
        margin: 30px 0 10px 40px ;
    }
    
    .container-cards-marseille {
        height: auto;
    }
    
    .card-marseille {
        max-width: 28%;
        height: auto;
        background-color: white;
        margin: 12px auto;
    }
    
    .show-more {
        margin: 35px 0 0 30px;
    }

    .container-popular-infos {
        margin-left: 8px;
    }
    .container-popular-infos p {
        margin-bottom: 45px;
    }

};

@media screen and (min-width: 768px) {
    .marseille-hostels {
       background-color: transparent;
    }
}
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* ------ ACTIVITIES SECTION -------------------------------------------------------------------------- */

.activities {
    display: flex;
    flex-direction: column;
}

.activities-title {
    margin-top: 60px;
    font-size: 22px;
    font-weight: 700;
}

.activities-container-cards {
    display: flex;
    justify-content: space-between;
}

.activities-card {
    width: 302px;
    height: 445px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.activities-card:hover {
    transition: transform 0.15s linear;
    transform: scale(1.05);
}


.activities-img-container {
    width: 100%;
    height: 390px;
}

.activities-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activities-card-title {
    margin: 16px;
    font-weight: 700;
}

@media screen and (max-width: 1350px) {
    .activities {
        flex-direction: column;
    }
    .activities-card {
        width: 21%;
        height: 270px;
    }
    .activities-img-container {
        min-height: 211px;
        max-height: 211px;
    }
 
    .activities-card-title {
        font-size: 16px;
        margin: 16px 0 0 16px;
    }

}

@media screen and (max-width: 768px) {
    .activities-container-cards {
        flex-direction: column;
    }
    .activities-card {
        width: 100%;
        height: 190px;
        margin-bottom: 24px;
    }
    .activities-img-container {
        min-height: 75%;
        max-height: 75%;
    }
 
    .activities-card-title {
        font-size: 16px;
        margin: 12px 0 0 16px;
    }
}

/* ------ FOOTER --------------------------------------------------------------------------- */
footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 225px;
    background-color: var(--grey-1);
    line-height: 2rem;
}

.footer-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.footer-content a {
    text-decoration: none;
    color: var(--black-1);
    font-size: 16px;
    font-weight: 400;
}

.footer-content a:hover {
    opacity: 0.8;
}

.about {
    display: flex;
    flex-direction: column;
    margin-right:230px;
    margin-left: 70px;
}

.hostings {
    display: flex;
    flex-direction: column;
    margin-right: 230px;
}

.help {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.about h3, .hostings h3, .help h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

@media screen and (max-width: 1350px) {
    .about {
        margin-left: 30px;
        margin-right:140px;
    }
    
    .hostings {
        margin-right: 140px;
    }
}

@media screen and (max-width: 998px) {
    .about {
        margin-right:80px;
    }
    
    .hostings {
        margin-right: 80px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        width: 100vw;
        margin-top: 50px;
        margin-left: calc(50% - 50vw);
        height: auto;
    }
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
    }
    .about {
        margin:0;
        padding-bottom: 2rem;
    } 
    .hostings {
        margin: 0;
        padding-bottom: 2rem;
    } 
    .help {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 2rem;
    }

    .about h3, .hostings h3, .help h3 {
        margin-bottom: 0.5rem;
    }
}