/* ----- RESET CSS ----- */
* ::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- GENERAL CSS ----------------------------------------------------------------------------------- */
:root {
    --black-1: #000000;
    --primary-1 : #0065FC;
    --primary-2: #DEEBFF;
    --grey-1: #f2f2f2;
    --grey-2: #d9d9d9;

    --border-radius: 20px;

    --box-shadow:  1.5px 1.5px 5px 2px rgba(140, 140, 140, 0.3);
}

html, body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    width: 98%;
    height: 100vh;
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--black-1);
}

@media screen and (max-width: 991.5px) {
    html, body {
        width: 95%;
    }
}
@media screen and (max-width: 767.5px) {
    html, body {
        width: 100%;
    }
}

/* ----- HEADER ---------------------------------------------------------------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-reservia {
    width: 62px;
    height: 20px;
    padding: 2rem 0;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    color: var(--black-1);
    padding: 2rem;
    transition: border-top 0.15s ease;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-1);
    border-top: 3px solid var(--primary-1);
    font-weight: 500;
}

.nav-link[data-active=true] {
    color: var(--primary-1);
    border-top: 3px solid var(--primary-1);
    font-weight: 500;
}

@media screen and (max-width: 991.5px) {
    .nav-link[data-active=true] {
        color: var(--black-1);
        border-top: none;
        font-weight: 400;
    }
    .nav-link:hover {
        color: var(--primary-1);
        border-top: 3px solid var(--primary-1);
        font-weight: 500;
    }
}

@media screen and (max-width: 767.5px) {
    header {
        flex-direction: column;
    }

    .navbar-header {
        width: 100%;
        justify-content: space-around;
        text-align: center ;
    }

    .nav-link {
        width: 100%;
        padding: 1.5rem;
    }

    .nav-link[data-active=true] {
        color: var(--primary-1);
        border-top: none;
        border-bottom: 3px solid var(--primary-1);
    }

    .nav-link[data-active=false] {
        border-bottom: 3px solid var(--grey-1);
    }
    .nav-link[data-active=false]:hover {
        border-top: none;
        border-bottom: 3px solid var(--primary-1);
    }
}

        
/* ----- SEARCH SECTION AND FILTERS------------------------------------------------------------------- */

.container-title {
    padding: 1.75rem 0;
}

.container-title h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto 8px;
}

.title-infos {
    margin: 0;
}

@media screen and (max-width: 767.5px) {
    .search-filters {
        width: 90%;
        margin: 0 auto;
    }
    .container-title {
        padding: 1.5rem 0;
    }   
}

.search-form {
    width: 100%;
    display: inline-flex;  
}

.search-icon {
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--grey-1);
}

.search-input {
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black-1);
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--grey-1);
    border-bottom: 1px solid var(--grey-1);
}

.search-btn {
    cursor: pointer;
    color: white;
    background-color: var(--primary-1);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1.5rem;
    border-radius: 0 1rem 1rem 0;
}

.search-btn:hover {
    opacity: 0.8;
}

.search-btn-span {
    font-size: 18px;
}

.search-btn-icon {
    display: none !important;
}


@media screen and (max-width: 767.5px) {
    .search-form {
        width: 100%;
        padding: 0;
    } 
    .search-input {
        width: 85%;
    }
    
    .search-btn span {
        display: none !important;
    }
    
    .search-btn-icon {
        display: block !important;
    }
}

/* -------------------------------- */

.container-filters-title {
    padding: 1.25rem 0 1rem;
    display: flex;
}

.container-filters-title h3 {
    font-weight: bold;
    margin-right: 1.5rem;
}

.container-filters {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    display: inline-flex;
    margin: 0.5rem 1.7rem 0.5rem 0;
}

.filter:hover {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

.filter-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;  
    border: 2px solid var(--grey-2);
    border-radius: 50px;
}

.filter-content:hover {
    background-color: var(--primary-2);
}

.filter-icon-i {
    color: var(--primary-1);
}

.filter-text {
    font-size: 17px;
    font-weight: 700; 
    margin-left: 10px;
}

@media screen and (max-width: 991.5px) {
    .container-filters-title h3 {
        margin-right: 1rem;
    }
    
    .filter {
        margin: 0.5rem 1rem 0.5rem 0;
    }

    .filter-content {
        padding:0.7rem 0.8rem ;
    }
    .filter-text {
        font-size: 16px;
    }

}


@media screen and (max-width: 767.5px) {
    .container-filters-title {
        flex-direction: column;
    }  

    .container-filters {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    
    .filter {
        width: 48%;
        margin: 0.5rem auto;
    }

    .filter-content {
        width: 100%;
    }


    .filters-title {
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .filter-text {
        font-size: 13px;
        margin-left: 15px;
        border: none;
        width: 100%;
    }
}

@media screen and (max-width: 499px) {
    .filter-text {
        font-size: 11px;
        margin-left: 10px;
        border: none;
        width: 100%;
    }
}
/* ----------------------------------- */

.container-infos {
    margin: 0;
    display: flex;
    align-items: center;
}

.infos-wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    margin-right: 10px;
    border: 1px solid var(--grey-2);
    border-radius: 50%;
}

.infos-icon {
    color: var(--primary-1);
}

.infos-text {
    font-weight: 400;
}

/* ------- HOSTELS SECTION -------- */

.hostels {
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

/* -------------MARSEILLE HOSTELS-------------- */

.marseille-hostels {
    position: relative;
    width: 66%;
    height: 100%;
    background-color: var(--grey-1);
    border-radius: var(--border-radius);
}

.marseille-hostels h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 10px 40px ;
}

.container-cards-marseille {
    height: 75%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.card-marseille {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.25rem;
    background-color: white;
    margin: 1rem 0;
    box-shadow: var(--box-shadow); 
    cursor: pointer;
}

.card-marseille:hover {
    transition: transform 0.15s linear;
    transform: scale(1.05);
}

.container-card-marseille-img {
    width: 100%;
    height: 55%;
}

.container-card-marseille-img img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}

.container-marseille-infos {
    position: relative;
    width: 100%;
    height: 45%;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
}

.container-marseille-infos h4 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
}

.container-marseille-infos p {
    font-size: 14px;
    margin-top: 0.2rem;
    font-weight: 600;
}

.show-more {
    width: 90%;
    margin: 1.2rem auto;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}


/* ----------POPULAR HOSTELS------------ */

.popular-hostels {
    width: 32%;
    height: 100%;
    background-color: var(--grey-1);
    border-radius: var(--border-radius);
}

.container-title-popular {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;   
}

.container-title-popular h2 {
    margin-left: 2rem !important;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.container-title-popular i {
    margin-right: 42px;
    font-size: 1.1rem;
    color: var(--primary-1);
}

.container-cards-popular {
    display: flex;
    flex-direction: column;
    height:85%;
    justify-content: space-around;
}

.card-popular {
    width: 80%;
    height: 26%;
    display: flex;
    border-radius: var(--border-radius);
    background-color: white;
    margin: 0 auto;
    padding: 0.25rem;
    box-shadow: var(--box-shadow); 
    cursor: pointer; 
}

.card-popular:hover {
    transition: transform 0.15s linear;
    transform: scale(1.05);
}

.card-popular-img {
    width: 40%;
}

.card-popular-img img {
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
}

.container-popular-infos {
    width: 206px;
    margin-left: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container-popular-infos h4 {
    font-weight: 700;
    font-size: 16px;
    margin: 0.5rem 0 0;
    padding: 0;
}

.container-popular-infos p {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
}

.container-stars {
    position: absolute;
    bottom: 5px;
    width: 68px;
    height: 12px;
    display: flex;
    justify-content: space-between;
}

.container-stars i {
    font-size: 0.75rem;
    color: var(--grey-2);
    
}

.container-stars i[data-active=true] {
    color: var(--primary-1);
}

@media screen and (max-width: 1100px) {
    .card-marseille h4, .card-popular h4 {
        font-size: 14px;
    }
    .card-marseille p, .card-popular p {
        font-size: 13px;
    }
    .card-marseille p {
        margin-bottom: 0.5rem;
    }
    .show-more {
        font-size: 1rem;
    }
}


@media screen and (max-width: 991.5px) {
    .hostels {
        flex-direction: column;
        height: auto;
    }
    .marseille-hostels {
        width: 100%;
        height: 70vh;
    }
    .card-marseille {
        height: 40%;
    }
    .popular-hostels {
        width: 100%;
        margin-top: 2.5rem;
    }
    .popular-hostels h2 {
        margin-bottom: 0.5rem;
    }
    .container-cards-popular {
        flex-direction: row;
        width: 95%;
        margin: 10px auto 0;
        height: 25vh;
        justify-content: space-between;
    }
    .container-popular-infos {
        width: 65%;
    }
    .card-popular {
        width: 28%;
        height: 140px;
    }
    .card-popular-img {
        width: 40%;
    }
   
}

@media screen and (max-width: 767.5px) {
    .hostels {
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
    }

    .marseille-hostels {
        margin-top: 20px;
        height: auto;
        background-color: transparent;
    }
    
    .marseille-hostels h2 {
        margin: 10px 0 ;
    }
    
    .container-cards-marseille {
       flex-direction: column;
       width: 100%;
    }
    
    .card-marseille {
        max-width: 100%;
        width: 100%;
        height: 200px;
        margin: 12px auto 0;
    }

    .container-card-marseille-img {
        height: 60%;
    }

    .container-marseille-infos {
        height: 40%;
    }

    
    .show-more {
       display: none;
    }


    .popular-hostels {
        width: 100vw;
        min-height: 580px;
        margin-left: calc(50% - 50vw);
        margin-top: 0;
        border-radius: 0px;
        height: auto;
        
    }
    .container-title-popular {
        margin: 20px 0 10px;
        width: 95%;
        justify-content: space-between ;
    }
    .container-title-popular i {
        margin-right: 0;
    }
    .container-cards-popular {
        margin:0 auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card-popular {
        width: 90%;
        height: 144px;
        min-height: 144px;
        margin: 12px 0 0;
    }
    .card-popular-img {
        width: 40%;
        height: 100%;
    }
    .container-popular-infos {
        margin-left: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .container-popular-infos h4 {
        font-size: 16px;
    }
    .container-popular-infos p {
        font-size: 14px;
        margin-bottom: 60px;
    }

}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* ------ ACTIVITIES SECTION -------------------------------------------------------------------------- */

.activities {
    display: flex;
    flex-direction: column;
}

.activities h2 {
    margin-top: 60px;
    font-size: 22px;
    font-weight: 700;
}

.activities-container-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

.activities-card {
    width: 22%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.activities-card:hover {
    transition: transform 0.15s linear;
    transform: scale(1.05);
}


.activities-img-container {
    width: 100%;
    height: 390px;
}

.activities-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activities-card-title {
    margin: 16px;
    font-weight: 700;
}

@media screen and (max-width: 1350px) {
    .activities {
        flex-direction: column;
    }
    .activities-card {
        height: 270px;
    }
    .activities-img-container {
        min-height: 211px;
        max-height: 211px;
    }
 
    .activities-card-title {
        font-size: 16px;
        margin: 16px 0 0 16px;
    }

}

@media screen and (max-width: 991.5px) {
    .activities h2 {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767.5px) {
    .activities {
        width: 90%;
        margin: 0 auto;
    }
    .activities-container-cards {
        flex-direction: column;
    }
    .activities-card {
        width: 100%;
        height: 190px;
        margin-bottom: 24px;
    }
    .activities-img-container {
        min-height: 75%;
        max-height: 75%;
    }
 
    .activities-card-title {
        font-size: 16px;
        margin: 12px 0 0 16px;
    }
}

/* ------ FOOTER --------------------------------------------------------------------------- */
footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 225px;
    background-color: var(--grey-1);
    line-height: 2rem;
}

.footer-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.footer-content a {
    text-decoration: none;
    color: var(--black-1);
    font-size: 16px;
    font-weight: 400;
}

.footer-content a:hover {
    opacity: 0.8;
}

.about {
    display: flex;
    flex-direction: column;
    margin-right:230px;
    margin-left: 70px;
}

.hostings {
    display: flex;
    flex-direction: column;
    margin-right: 230px;
}

.help {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.about h3, .hostings h3, .help h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

@media screen and (max-width: 1350px) {
    .about {
        margin-left: 30px;
        margin-right:140px;
    }
    
    .hostings {
        margin-right: 140px;
    }
}

@media screen and (max-width: 991.5px) {
    .about {
        margin-right:80px;
    }
    
    .hostings {
        margin-right: 80px;
    }
}

@media screen and (max-width: 930px) {
    .hostings, .about{
        margin-right: 50px;
    }
    .about h3, .hostings h3, .help h3{
        margin-bottom: 10px;
    }  
}

@media screen and (max-width: 767.5px) {
    footer {
        width: 100vw;
        margin-top: 50px;
        margin-left: calc(50% - 50vw);
        height: auto;
    }
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
    }
    .about {
        margin:0;
        padding-bottom: 2rem;
    } 
    .hostings {
        margin: 0;
        padding-bottom: 2rem;
    } 
    .help {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 2rem;
    }

    .about h3, .hostings h3, .help h3 {
        margin-bottom: 0.5rem;
    }
}